
<ion-content>
  <ion-list class="centrado">
      <div>
        <input class="input" type="text" placeholder="Usuario" >  
      </div>
      <br>
      <br>
      <div>
        <input class="input" type="password" placeholder="Contraseña"  >
      </div>
  </ion-list>
  <br>
  <br>
  <div>
    <input type="button" routerLink="../buscar-movie" value="Iniciar Sesión" class="bnCentrado">
  </div>
  <br>
  <p><small>Aún no tienes una cuenta? <a routerLink="../register" style="text-decoration: none;" >Registrarse.</a></small></p>
  <br>
  <div class="small">
    <small >&2020-2021 BryTrailer Studios</small>
    <br>
    <small >Todos los derechos reservados</small>
  </div>
    

    

  

</ion-content>
